:root{
    --page-bg: #0B090D;
    --page-bg-secondary: #1E90FFff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif; 
    font-optical-sizing: auto; /* melhora a legibilidade em tamanhos de fontes diferentes */
    font-weight: 400;
    font-style: normal;
    background: var(--page-bg) linear-gradient(to bottom, var(--page-bg-secondary), #48D1CC00) fixed;
}

.logoIcon{
    background-color: var(--page-bg-secondary);
}