:root {
  --dark: hsl(206, 100%, 5%);
  --light: #fff;
  --primary-color: #03a0fb;
  --primary-color-dark: hsl(208, 94%, 13%);
  --gray: #f6f6f6;
}

body {
  background-color: var(--dark);
  text-align: center;
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes tecno {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10);
  }
}

.content-wrapper__center {
  max-width: 67.25rem; /* 1076px */
  margin: 0 auto;
}

.fotoPerfil {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 1rem;
}

.content-title,
.content-subtitle {
  color: var(--light);
  font-size: 1.6rem;
  margin-bottom: 0;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.61);
}

.content-subtitle {
  font-family: "Caveat", cursive;
  margin-top: 0.3rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: var(--gray);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: tecno 2s linear 2s infinite alternate;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.header-icons {
  list-style: none;
  margin: 0;
}

.header-icons a {
  text-decoration: none;
  color: var(--light);
  justify-content: space-between;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.header-icons__instagram,
.header-icons__github,
.header-icons__LinkedIn,
.header-icons__email,
.header-icons__whatsapp {
  display: inline-block;
  transition: color 0.3s ease-in-out;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 0.7rem;
}

.content-footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.content-tecnologias__title {
  color: var(--gray);
  font-size: 3.5rem;
  margin: 0;
}

.seta {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  fill: var(--light);
  animation: tecno 2s linear 2s infinite alternate;
  cursor: pointer;
}

@media (min-width: 460px) {
  .fotoPerfil {
    width: 150px;
    height: 150px;
    margin-top: 0.5rem;
  }

  .content-title {
    margin: 0;
  }

  .contents {
    display: flex;
  }

  .content-title,
  .content-subtitle {
    font-size: 3rem;
  }

  .header-icons__instagram,
  .header-icons__github,
  .header-icons__LinkedIn,
  .header-icons__email,
  .header-icons__whatsapp {
    display: block;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.8rem;
  }

  .header-icons__instagram:hover,
  .header-icons__github:hover,
  .header-icons__LinkedIn:hover,
  .header-icons__email:hover,
  .header-icons__whatsapp:hover {
    color: var(--light);
    background-color: var(--primary-color-dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.15);
    transition: all 0.2s ease-in-out;
  }

  .content-footer {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
  }

  .page-footer {
    display: flex;
    flex-direction: column;
  }

  .content-footer {
    background-color: transparent;
    color: var(--light);
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    align-items: center;
  }

  main {
    flex: 1;
  }

  .content-tecnologias__title {
    margin: 0;
    animation: tecno 2s linear 2s infinite alternate;
  }

  .seta {
    display: none;
  }
}
